:root {
  --sqr-per-side: 0;
  --pix-size: 0;
}

/* {
  margin: 0;
  padding: 0;
  border: 0;
}*/

body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: antiquewhite;
}

#reset{
  font-family: 'Pacifico';
  font-size: 25px;
  border: solid;
  border-radius: 40px;
  border-color: rgb(235, 101, 101);
}

#container {
  grid-area: 1/1/2/5;
  justify-self: center;
  align-self: center;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 105px;
  text-shadow: 0px 6px rgb(187, 53, 53);
  color: rgb(235, 101, 101);
}

#border {
  grid-area: 2/2/4/4;
  align-self: center;
  justify-content: center;
  border-width: 20px;
  border-style: ridge;
  border-color: #d63232;
  border-radius: 39px;
  width: 400px;
  height: 400px;
  margin: auto;
}
  
.myGrid {
  align-self: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(var(--sqr-per-side), var(--pix-size));
  grid-template-rows: repeat(var(--sqr-per-side), var(--pix-size));
}

.sqrs {
  background: whitesmoke;
}

.sqrs:empty:before {content: '\a0';}
